# Instalacion, Creando Sesion y DataFrames en Spark SQL

In [ ]:
## Instalacion de las siguientes Librerias
# pip install findspark
# pip install pandas
# pip install pyspark

In [29]:
## Hacemos la importacion de findspark, pandas ,  pyspark
import findspark
findspark.init()

import pandas as pd
import pyspark

In [5]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import *

# Crear Sesion de Spark

In [6]:

spark = SparkSession.builder\
        .master("local[*]")\
        .appName('PySpark_Developer')\
        .getOrCreate()

# Crear el DataFrame

In [19]:
## Crear estrucutura de coleccion de datos 
data = [("Alice", 34, "Col.Pradera", "14523652"),
         ("Bob", 45, "Col.Satélite", "84512695"), 
         ("Charlie", 29, "Col.Bogran", "98496251"),
         ("Alice", 34, "Col.Pradera", "95847185"),
         ("Alice", 34, "Col.Pradera", "14523652"),
         ("Bob", 45, "Col.Satélite", "84512695"), 
         ("Charlie", 29, "Col.Bogran", "98496251"),
         ("Alice", 34, "Col.Pradera", "95847185"),
         ("Charlie", 29, "Col.Bogran", "95847185")]
columns = ["Nombre", "Edad", "Direccion","Dni"]

In [20]:
## Crear el DataFrame
df = spark.createDataFrame(data, columns)

In [21]:
## Muestra el registro de Datos del DataFrame
df.show()

+-------+----+------------+--------+
| Nombre|Edad|   Direccion|     Dni|
+-------+----+------------+--------+
|  Alice|  34| Col.Pradera|14523652|
|    Bob|  45|Col.Satélite|84512695|
|Charlie|  29|  Col.Bogran|98496251|
|  Alice|  34| Col.Pradera|95847185|
|  Alice|  34| Col.Pradera|14523652|
|    Bob|  45|Col.Satélite|84512695|
|Charlie|  29|  Col.Bogran|98496251|
|  Alice|  34| Col.Pradera|95847185|
|Charlie|  29|  Col.Bogran|95847185|
+-------+----+------------+--------+

In [22]:
## Cuenta el numero de Filas en el  registro del DataFrame
df.count()

9

In [24]:
## Devuelve el nombre de las Columnas
df.columns

['Nombre', 'Edad', 'Direccion', 'Dni']

In [25]:
## Accede al DataTypes de columnas dentro del Dataframe, Muestra el tipo de datos
df.dtypes

[('Nombre', 'string'),
 ('Edad', 'bigint'),
 ('Direccion', 'string'),
 ('Dni', 'string')]

In [26]:
## Comprueba como spark almacena el esquema del DataFrame
df.schema

StructType(List(StructField(Nombre,StringType,true),StructField(Edad,LongType,true),StructField(Direccion,StringType,true),StructField(Dni,StringType,true)))

In [27]:
## 
df.printSchema()

root
 |-- Nombre: string (nullable = true)
 |-- Edad: long (nullable = true)
 |-- Direccion: string (nullable = true)
 |-- Dni: string (nullable = true)

In [31]:
df.select("Dni","Nombre","Edad").show()

+--------+-------+----+
|     Dni| Nombre|Edad|
+--------+-------+----+
|14523652|  Alice|  34|
|84512695|    Bob|  45|
|98496251|Charlie|  29|
|95847185|  Alice|  34|
|14523652|  Alice|  34|
|84512695|    Bob|  45|
|98496251|Charlie|  29|
|95847185|  Alice|  34|
|95847185|Charlie|  29|
+--------+-------+----+